<h2>Reply to this comment:</h2>
<br>
<div>
  <br>
  <form action="<%= comments_url %>" method="post">
    <input type="hidden" name="comment[parent_comment_id]" value= "<%= @comment.id %>">
    <%= auth_token %>
  <textarea name="comment[content]" rows="8" cols="40"></textarea>
  <input type="submit" value="Submit">
</form>

</div>
